body {
    background-image:url("https://img.freepik.com/free-vector/realistic-style-soap-bubbles-background_52683-44371.jpg?w=900&t=st=1662594850~exp=1662595450~hmac=4fe77ccf7ca97eaa295676dd250a93d4e60b7eb90828ef4954958929a119b82b");
    background-size: cover;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 16px;
    height: 100vh;
}   

h1 {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
    margin-top:0;
    margin-bottom:20px;
}

button {
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font-weight: bold;
    width: 200px; 
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #FFE9F3;
}

#save-btn {
    background:#BDE4A8 ;
}

.container {
    width:80%;
    max-width: 400px;
    margin:50px auto;
}

a a:link a:visited {
    font-size: x-small;
    color:black;
}

a:hover{
    color:blueviolet;
}
